/* Clash Display */
@font-face {
  font-family: 'Clash Display';
  src: url('%PUBLIC_URL%/fonts/mndllvzx_BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff2') format('woff2'),
       url('%PUBLIC_URL%/fonts/mndllvzz_BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff') format('woff'),
       url('%PUBLIC_URL%/fonts/mndllw00_BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('%PUBLIC_URL%/fonts/mndllw01_JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.woff2') format('woff2'),
       url('%PUBLIC_URL%/fonts/mndllw01_JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.woff') format('woff'),
       url('%PUBLIC_URL%/fonts/mndllw02_JTSL5QESUXATU47LCPUNHZQBDDIWDOSW.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('%PUBLIC_URL%/fonts/mndllw03_Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff2') format('woff2'),
       url('%PUBLIC_URL%/fonts/mndllw04_Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff') format('woff'),
       url('%PUBLIC_URL%/fonts/mndllw04_Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Clash Display';
  src: url('%PUBLIC_URL%/fonts/mndllw05_53RZKGODFYDW3QHTIL7IPOWTBCSUEZK7.woff2') format('woff2'),
       url('%PUBLIC_URL%/fonts/mndllw06_53RZKGODFYDW3QHTIL7IPOWTBCSUEZK7.woff') format('woff'),
       url('%PUBLIC_URL%/fonts/mndllw06_53RZKGODFYDW3QHTIL7IPOWTBCSUEZK7.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


